/*=============*/
/***  BUTTONS ***/
/*=============*/

.btn-primary{
	border-radius: 1;
	background-color:#9D1309;;
	border-color: transparent;
	padding:6px;
  width: 100%;
}

/* Sourced from W3Schools Online Web tutorials (20/01/2016) */
/*  http://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1*/

.button {
   border-radius: 4px;
   background-color: #9D1309;
   box-shadow: none;
   border: none;
   color: #FFFFFF;
   position: absolute;
   top: 100%; 
   left: 38%;
   text-align: center;
   font: 19px $slimFont;
   padding: 9px;
   width: 230px;
   transition: all 0.5s;
   cursor: pointer;
}.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}.button span:after {
  //content: '»';
  font: 100% 'FontAwesome';
  content: $fa-var-arrow-right;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.5s;
}.button:hover span {
   padding-right: 25px;
}.button:hover span:after {
   right: 0;
   opacity: 1;
}.button:hover{
	padding-left: 5px;
	opacity: 0.93;
	color: darken(#ffffff, 10%);
}

.button-two {
   border-radius: 0; 
   margin: 0 auto;
   width: 265px;
   position: absolute;
   top: 80%; 
   left: 12%;
   background-color: #9D1309;
   box-shadow: none;
   border: none;
   text-align: center;
   font-size: 19px $slimFont $initial;
   padding: 9px;
   transition: all 0.5s;
   cursor: pointer;
}.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}.button-two span:after {
  font: 100% 'FontAwesome';
  content: $fa-var-arrow-right;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
}.button-two:hover span {
  padding-right: 25px;
}.button-two:hover span:after {
 right: 0;
 opacity: 1;
}
