
/* ==========================================================================
   FORMS SCSS 
   ========================================================================== */
button{
	border: none;
}
.panel-heading{
	background-color: $white;
}
.form-inline{
	margin-bottom: 10px;
}


// .editfrm{
// 	background-color:$white;
// 	border-radius: 4px;
// 	box-shadow: 0 0 2px 0 $gray;
// 	}
