/* ==========================================================================
   HOMEPAGE 
   ========================================================================== */

.homepage {
  //banner-wrapper is the parent background of the homepage banner 
  .banner-wrapper {
    @media (min-width: $screen-md-min) {
      font: 18px $slimFont;
      padding-left: 0;
      padding-right: 0;
      //background-color: darken(#F8E9B0, 2%);
      background: mix(#F8E9B0, $white, 20%);
      border: 1px double #f6eaddP;
     @include border-rad-top;
      height: 580px;
      margin-bottom: 40px;
      background-size: 50px 84px;
/*      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 97%, 50% 100%, 0 97%); 
      clip-path: polygon(0% 0%, 100% 0, 100% 97%, 55% 100%, 0 97%); 
 /*'clip-path' function above sourced from 'http://bennettfeely.com/clippy/'. The path forms a div with a triangular bottom 
 * 6th percentage from the left to lower border on the right, percentage on far right to alter point of border-bottom on the left
 */  
  }
  .opening-times-image-bg {
      position: relative;
      height: 580px;
      overflow-y: hidden;
  }
  
  .opening-times-info {
      background: transparentize(black, 0.15);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: $white;
      padding-left: 20px;
      padding-right: 20px;
  }
  .opening-times-image {
      @include imageCover();
    }

  .banner-image {
      @include imageCover();
    }

  .banner-bg { //banner-bg is the background sitting on top of the banner-wrapper 
      position: relative;
      padding: 0 auto;
      height: 500px;
    }

  }

  .service-wrapper {
    height: 200px;
    overflow-y: hidden;
  }

  .services-bg {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    background: $tint;
    color: $white;
    overflow-y: hidden;

    .service {
      margin-top: 20px;
      margin-bottom: 20px;
      .image {
        background-color: $tint;
        height: 200px;
      }
    }
  }

  .barbers {
    .background {
      background: $white;
      padding: 50px 20px;
      margin: 50px 0;
    }
  }

  .news {
    .background {
      background: $initial;
      padding: 50px 50px;
      margin: 50px 0;
    }
  }

}

.services-page {
  .services {
    height: 280px;
    background: $white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    .image-bg {
      background: $tint;
      height: 200px;
      overflow-y: hidden;
    } //image-bg

    .title-bg {
      .title {
        margin-top: 0;
        font-size: 16px;
        @extend .text-center;
      }//title
    }//title
  }//services
} //services-page

.service-single {
  .title {
    @extend .text-center;
    margin-bottom: 50px;
  }//service-single

  .service-info {
    .date {
      margin-top: 20px;
    }//date
  }//service-info

  .image-bg{
    height: 500px;
    background: red;
  }
}

.feedback-form {
  margin-top: 50px;
  padding: 10px 20px;


  .title {
    @extend .text-center;
    font-size: 20px;
  }
}