.footer {
  margin-top: 50px;
  background-color: $end;
  padding-top: 50px;
  color: $white;
  padding-bottom: 50px;
  li >a {
    font: 'arial';
    color: $white;
  }
  li >a:hover {
    color: $link-color;
    text-decoration: none;
  }
}