/* ==========================================================================
   NAVIGATION 
   ========================================================================== */
.nav-pills{
	background-color: $white;
    >.nav-header{
 		height: 40px;
 		vertical-align: middle;
 		font: 18px $slimFont;
 		background-color: $gray-darker;
 		color: $white;
 	}
	li >a{
		color:black;
	} 
	> li:active >a{
		color: $white; 
		background-color: $end;
	}
}


.two{
	background-color: blue; 
}
a{
	color: $white;
}

/* ==========================================================================
   1.1 Body 
   ========================================================================== */
body{
	color: #000000;
	font: 16px arial;
	padding-top: 122px;	
	background: 
	radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
	radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
	background-color:lighten(#E7C6A5,14%);
	background-size: 2px 2px; //Here the size of the pattern is reduced, and appears as minute squares 
}
/* ==========================================================================
   ELEMENTS 
   ========================================================================== */
 .breadcrumb {
	li >a{
		color: #000;
	}
}

.modal-header{
	background-color: $gray;
	color: $white;
}
.navbar-btn{
  background-color: $gray;
  border: none;
  color: $white;
}
.breadcrumb>li >a:hover{
	text-decoration: underline;
}


dt{
  cursor: pointer;
  font-weight: bold;
  line-height: 2em;
  background: $white; 
  display: block;
  text-align: center;
}
dd{
  text-align: center; 
  padding: 1em 0;
}

/* ==========================================================================
   3. HEADINGS 
   ========================================================================== */
h2{
	font: 18px $slimFont;
}
.side-lines{
	@include side-lines;
}

/* ==========================================================================
   4. DIVISIONS 
   ========================================================================== */
 .users{
 	height: 100px;
 	width: 220px;
	color: $white;
 	background-color: $end;
 	vertical-align: middle;
 	p {
 		line-height: 100px;
 	>span{
 		border-radius: 10%;
 		padding: 15px;
 		background-color:darken(yellow, 3%);
 		color: #000;
 		font: 20px $slimFont;
 		font-weight: bold;
 	}
 }
 }
.table-responsive,.table{
  	  margin: 0 auto;
  	  color: $white;
  }
  
.upload{
	@include backImg('../../images/testimg4.jpg');
	height: $panel-body-height;
}
.last{
	margin-bottom: 60px;
}
.three{
	padding-top:20px;
	height: $div-height;
	background: $tint;
	color: $white;
	font: 35px $rales;
}
.four{
	height:  $div-height;
	font: 22px $rales;
	@include decolor($initial);

}
.five{
	height: $div-height;
	background: #fffcf0;
	background: -webkit-linear-gradient(#fffcf0 0% , $white 90%);
}
.panel-footer{
	background: $tint;
}

/* ==========================================================================
   IMAGES 
   ========================================================================== */

.img-1{
	width: 90%;
	margin: 0 auto;
}
.hairstyle{ 
	margin: 8px;
}


/* ==========================================================================
   8. PARAGRAPHS & LISTS 
   ========================================================================== */
p{
	font: $font-size-base $slimFont;
}hr{
	opacity: 0.4;
}
li{
	list-style-type: none;
}