//heading with sidelines 
@mixin side-lines {
  &.sidelines {
    text-align: center;
    font-family: 'Raleway';
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    font-weight: 100px;
  }
  & span:before {
    right: 100%;
    margin-right: 15px;
  }
  span {
    position: relative;
  }
  & span:after,
  & span:before {
    content: "";
    position: absolute;
    border-top: 1px solid #ccc;
    opacity: 0.6;
    width: 200px;
    height: 2px;
    top: 50%;
  }
  *, :before, :after {
    box-sizing: border-box;
  }
}

//leave space before and after element

@mixin clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  //before, after
  &:after {
    clear: both;
  }
  //after
}


//clearfix

//background image, including overlay and adjustments
@mixin backImg(
  $image, 
  $grDir: to bottom,  
  $opStart: 0,  
  $opEnd: 100,  
  $bgPos: center center) {
  background-image: url($image);
  background-repeat: no-repeat;
  background-position: $bgPos;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: linear-gradient (
          $grDir,
          rgba(255, 255, 0, $opStart), //gradient starts as the top as a black tint and ends at the bottom as black Bgcolor
          rgba(0, 0, 0, $opEnd),
  );
}

//backImage

@mixin border-rad-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@mixin decolor($color) {
  background-color: desaturate($color, 10%);
  background-color: lighten($color, 2%);
}

@mixin imageCover() {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center top;
}