 /*
  * Description: This is the main file for sass / scss  which also holds scss imports from other folders *MODULATION* is the word! 
  * Version: 3.0.0
  * Last update: 28/03/2016
  * Author: JEFTA CHIBIYA, jeftachibiya@hotmail.co.uk
  *
  * Contents: 
  *
  *	      0. Imports 
  *       1. Banner 
  *       3. Navigation  
  *       4. Headings  
  *       5. Divisions 
  *       6. Images  
  *       7. Forms 
  *       8. Buttons 
  *       9. Paragraphs & LIsts 
  *      10. Forms 
  */
 
  /* ==========================================================================
    0. IMPORTS 
    ========================================================================== */

@import "mixins";
@import "common/variables.scss";

//Boostrap-sass 
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap";
//Google Fonts - 'Abril Fatface', 'Raleway',  'Source Sans' and 'Work Sans'
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Raleway:400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Work+Sans);

//Font awesome icons 
@import "../bower/font-awesome/scss/font-awesome";
@import "common/fa-variables.scss";



 
/* ==========================================================================
   1.2 PAGES   
   ========================================================================== */
@import "layouts/pages";

/* ==========================================================================
   1.3. NAVIGATION 
   ========================================================================== */
 @import "components/navbar.scss";


/* ==========================================================================
   2. BANNER 
  ========================================================================== */

#brand-image{
	margin-top: -18px;
	height: 58px;
}


/* ==========================================================================
   3. ELEMENTS
   ========================================================================== */

@import "common/elements";

/* ==========================================================================
   4. FORMS 
   ========================================================================== */

@import "components/forms";   
@import "layouts/grid";

/* ==========================================================================
   5. BUTTONS 
   ========================================================================== */

@import "components/buttons";


/* ==========================================================================
   6. FOOTER 
   ========================================================================== */

@import "layouts/footer";
